<h1>Add book to Library!</h1>

<!-- action: url to which we want to send data -->
<!-- method: http method that we want to use -->

<!-- 
<%#= render 'form', action: :new, book: @book %>
-->

<!-- <form action = "books_url" method="post"> -->
<form action = "/books" method="post">
    <label for="title">Title</lablel>
        <input id="title" type="text" name="book[title]">
    
    <br>

    <label for="author">Author</lablel>
        <input id="author" type="text" name="book[author]">

    <br>

    <label for="year">Year</lablel>
        <input id="year" type="date" name="book[year]">

    <br>

    <label for="category">Category</lablel>
    <select id="category" name="book[category]">
        <option disabled selected>Category</option>
        <option value="Fiction">Fiction</option>
        <option value="NonFiction">NonFiction</option>
        <option value="Memoir">Memoir</option>
    </select>

    <br><br>

    <label for="description">Description</lablel>
        <textarea id="description" name="book[description]"></textarea>

    <br><br>

    <input type="submit" value="Add book to library">
</form>