<h2>Sign Up Time!</h2>

<%= flash[:error] if flash[:error] %>

<form class="users_form" action="<%=users_url%>" method="post">
    <%=auth_token%>
    
    <label for="email">Email:
        <input type="text" name="user[email]">
    </label>
    <br>

    <label for="password">Password:
        <input type="password" name="user[password]">
    </label>
    <br>

    <input type="submit" value="Sign Up">
</form>