/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header, body {
     font-family: 'Courier New', Courier, monospace
 }

.body {
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    border-radius: 50px;
}

.users_form {
    display: flex;
    flex: left; 
    flex-direction: row;
    background-color: lightgreen;
    border-radius: 50px;
}

.session_form {
    display: flex;
    flex: left; 
    flex-direction: row;
    background-color: lightsalmon;
    border-radius: 50px;
}

.lineup {
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    background-color: aquamarine;
    border-radius: 50px;
}

.bands {
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    background-color: lightyellow;
    border-radius: 50px;
    font-size: larger
}

.newband {
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    background-color: lightsalmon;
    border-radius: 50px;
    font-size: x-large
}

.removeband {
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    background-color: lightcoral;
    border-radius: 50px;
    font-size: xx-large
}