<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>JustWrite</title>
	<link rel="icon" href="./logo.png">
	<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
	<h1 class="headline"><img class="headimg" src="./logo.png">JustWrite: The only note taking app you'll ever need.</h1>

	<span class="nav-links">
		<a href="#">about us</a>
		<a href="#">careers</a>
		<a href="#">contact</a>
	</span>

	<form class="search" action="#" onclick="">
		<h2>Find a List</h2>
		<input type="text"/>
		<input type="submit" value="Search"/>
	</form>

	<form class="newlist" action="#" onclick="">
		<h2>Create a List</h2>
		<input type="text"/>
		<input type="submit" value="New List"/>
	</form>

	<form class="additem" action="#" onclick="">
		<h2>Add List Item</h2>
		List:<input type="text" />
		Item:<input type="text" />
		<input type="submit" value="New List Item" />
	</form>

	<span class="copyright">
		Copyright 2016
	</span>
</body>
</html>
