body{
    /* background-image: url("splash.jpg"); */
    font-family: 'Roboto Slab', serif;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-columns: 100px;
    grid-auto-rows: 50px;
    font-family: 'Roboto Slab', serif;
}

.left{
    grid-row: 1/6;
    grid-column: 1; 
    background: lightgreen;
    z-index: -1;
}
.right{
    grid-row: 1/6;
    grid-column: 3; 
    background: rgb(253, 250, 250);
    z-index: -1;
}
.mid{
    grid-row: 1/6;
    grid-column: 2; 
    background: rgb(253, 250, 250);
    z-index: -1;
}

.headline{
    margin-left: 10px;
    grid-row: 1;
    grid-column: 1;
    color: green;
    font-family: 'Roboto Slab', serif;
}

.headimg{
    max-width: 30px;
    display: inline;
}

.lbar{
     margin-left: 10px;   
}

.nav-links{
    grid-row: 1;
    grid-column: 3;
}

.search{
    grid-row: 2;
    grid-column: 1;
}

.newlist{
    grid-row: 3;
    grid-column: 1;
}

.additem{
    grid-row: 4;
    grid-column: 1;   
}

.return{
    grid-row: 5;
    grid-column: 1;      
}

.return{
    grid-row: 5;
    grid-column: 1; 
    /* display: flex;  */
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    margin: auto;
    text-decoration: none; 
}

.content{
    grid-row:1/5;
    grid-column: 2;
    margin-left: 25px;
}

.content ul{
    border-left: lightgreen solid 3px;
    margin-left: 25px;
}

.searchbar{
    background: lightseagreen;
    padding: 10px 10px;
    border-radius: 20px;
}

.searchbar input{
    background: lightseagreen;
    border: none;
    outline: none;
}

.searchbar button{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}

.content textarea{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    width:300px;
    resize: none;
}